<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <a routerLink="/" class="navbar-brand d-flex align-items-center gap-2">

      <app-logo/>

      <span>Livraria</span>
    </a>
    <div class="navbar-nav ms-auto">
      <a routerLink="/" class="nav-link">Livros</a>

      <a routerLink="/carrinho" class="nav-link">Carrinho</a>

      <a *ngIf="!estaLogado" routerLink="/login" class="nav-link">Entrar</a>

      <a
        *ngIf="estaLogado"
        type="button"
        class="nav-link btn btn-link"
        (click)="logout()">Sair</a>
    </div>

  </div>
</nav>
<router-outlet />
